<div class="top">
    <form action="#" method="post">
            <input type="search" id="search" name="search" placeholder="Tìm kiếm">
            <button type="search">tìm</button>
    </form>
</div>
<div class="menu-bar">
    <ul>
        <li><a href="#">Giày hiệu</a></li>
        <li><a href="#">Giày đinh</a></li>
        <li><a href="#">Găng tay</a></li>
        <li><a href="#">Phụ kiện</a></li>
        <li><a href="#">Danh mục</a></li>
    </ul>
</div>


<div class="container">
<router-outlet></router-outlet>
</div>
