
<header class="header">
  <div class="logo">
      <h1>F**K</h1>
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Search...">
      <i class="fas fa-search"></i>
      <i class="fas fa-microphone"></i>
    </div>
    <div class="auth-cart">
      <a (click)="navigateToLogin()" class="auth-link">Đăng nhập</a>/<a (click)="navigateToRegister()" class="auth-link">Đăng ký</a>
      <div class="cart-icon">
        <i class="fas fa-shopping-cart"></i>
      </div>
  </div>
  <div>
    <img src="\assets\anh\iconbong3.jpg" alt="Soccer Ball" class="corner-image">
  </div>
</header>
  <div class="menu-bar">
    <ul>
        <li *ngFor="let item of menuItems" (click)="toggleMenu(item)">
            <a >
                <i class=" itemico" [class]="item.icon"></i>
                <span> {{ item.label }} </span>
                <span class="toggle-icon">
                    <i *ngIf="!item.isExpanded" class="fa-solid fa-chevron-right"></i>
                    <i *ngIf="item.isExpanded" class="fa-solid fa-chevron-down"></i>
                </span>
            </a>
        </li>
    </ul>
</div>

<div class="container">
<router-outlet></router-outlet>
</div>
